body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    margin: 1rem;
    text-align: center;
    color: blueviolet;
}





.btn-text {
    color: aquamarine;
}